.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: var(--br-radius);
  background-color: var(--clr-surface-a20);
  border-left: 21px solid var(--clr-cyan);
  height: 90px;
  padding: 0 36px;
}
