.container {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
}

.textAreaWrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 64px;
}

.formWrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.input {
  max-width: 192px;
}

.row {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}

.clearButton {
  align-self: flex-end;
  background-color: transparent;
}

.summaryContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
}

.summaryCards {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.totalDps {
  max-height: 34px;
  padding: 8px 16px;
  background-color: var(--clr-primary-a50);
  border-radius: var(--br-radius);
}

.totalDps p {
  color: var(--clr-dark-a0);
  font-size: 14px;
  font-weight: 600;
}

@media (min-width: 768px) {
  .row {
    justify-content: flex-start;
  }

  .formWrapper {
    flex-direction: row;
    gap: 64px;
  }
  .summaryCards {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .summaryCards > div {
    width: calc(50% - 1rem); /* 1rem is the gap between the cards */
    min-width: 250px;
  }

  .totalDps {
    width: calc(50% - 1rem); /* 1rem is the gap between the cards */
    min-width: 250px;
  }
}
