nav {
  display: flex;
  justify-content: space-between;
  position: fixed;
  height: var(--nav-height);
  width: 100%;
  padding: 8px 16px;
  background-color: var(--clr-surface-a10);
}

nav a {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 0;
  font-size: 16px;
  color: var(--clr-light-a0);
  text-decoration: none;
}

nav hr {
  display: none;
}

.active {
  color: var(--clr-primary-a50);
}

@media screen and (min-width: 1280px) {
  nav {
    position: fixed;
    flex-direction: column;
    justify-content: flex-start;
    height: 100vh;
    width: var(--nav-width);
    padding: var(--vertical-page-padding) 16px;
  }

  nav hr {
    display: block;
  }
}
